.wrapper {
    border-bottom: solid 0.33px #C3C3C6;
    h1{
        width: 76px;
        height: 28px;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #050510;
        margin-left: 24px;
        margin-top: 16px;
    }
}

